{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
   <div style=" margin-left: 28%; margin-top: 3%">
    <form method="POST" action="{% url 'login' %}">

     <div class="form-row">
    <div class="form-group col-md-6" >
                {% csrf_token %}
                {% bootstrap_form form %}



    </div>
  </div>
    <button class="btn btn-outline-success" name="sumbit" type='submit'>Sumbit</button>
    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
    </div>



{% endblock %}