{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
   {% if user.is_authenticated %}
        <div class="container mt-4">
            <div class="content-section">
              <div class="media">
                <img class="rounded-circle account-img" src="{{ user.avatar.url}}">
                <div class="media-body">
                  <h2 class="account-heading">{{ user.get_full_name }}</h2>
                  <p class="text-secondary">{{ user.email }}</p>
                </div>
              </div>
            </div>
            <b>Last Donate Date:</b> {{ user.last_donate_date }} <br>
            <b>Address:</b> {{ user.address.municipality }}, {{ user.address.district }} <br>
            <b>Phone:</b> {{ user.phone }} <br>
            <b>Time of donation:</b> {{user.donation_no}}   <br>
            <!-- <b>Date of Birth:</b>{{ user.birth_date }}   <br> -->
            <b>Blood Group:</b> {{ user.bloodgroup }} <br>
                <a href="{% url 'change_password'%}">Change Password</a>    <br>
                <a href="{% url 'profile_update'%}">Edit Profile</a>    <br>
                <a href="{% url 'del_user' user.id  %}">delete user</a>
        </div>
    {% endif %}
{% endblock %}
