{% extends "base.html" %}

	{% block content %}
		{% load static %}
<!-- <p> this project done as a summpr project of BIM 6th semester by <b>Prabhat Ghimire</b></p>  -->
<div style=" margin-left: 20%;margin-right: 20%; margin-top: 3%">
<p style="margin: 10px;">
	<h6><B>'Everywhere for Everyone"</B></h6>
	This project is done to help people who is in serious need of blood. As we all know it's hard for blood bank to fulfill blood need of whole country due to lack in technology as well as donors. Disaster never come playing horn. we never know where will accident happen so be there for people who need ur blood. your two drops of blood can save other peoples life, and someone's blood can save yours life too.
	It is totaly survice oriented. It's the project done by Prabhat Ghimire as the summer project and as well as to help people wcoordinating with other volunteers of Nepal Red Cross society. Now we group of volunteers is stepping up to help people. we will soon coordinate with blood banks and will provide you all the information about stock blood.
	'we are with you to save your life so be there for others to save their.'
    <h4>Team Members:</h4>
    <pre>
    Prabhat Ghimire
    Srijana Ghimire
    Prativa Ghimire
    Deepak Pathak
    Raj Kumar Dahal

    </pre>
</p>
</div>
	{% endblock %}
